<% layout('/layouts/boilerplate') %>

<div class="row justify-content-center">
  <div class="col-md-6 mt-5">

    <div class="card shadow rounded-4 p-4">
      
      <h3 class="mb-4 text-center"><i class="fa-solid fa-credit-card"></i> Payment Details</h3>

      <div class="d-flex justify-content-between border-bottom py-2">
        <span class="text-muted">From</span>
        <span><%= bookingData.startDate %></span>
      </div>

      <div class="d-flex justify-content-between border-bottom py-2">
        <span class="text-muted">To</span>
        <span><%= bookingData.endDate %></span>
      </div>

      <div class="d-flex justify-content-between border-bottom py-2">
        <span class="text-muted">Guests</span>
        <span><%= bookingData.guests %></span>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2">
        <span class="text-muted">Rooms</span>
        <span><%= bookingData.rooms %></span>
      </div>

      <div class="d-flex justify-content-between border-bottom py-2">
        <span class="text-muted">Nights</span>
        <span><%= days %></span>
      </div>

      <div class="d-flex justify-content-between py-3">
        <span class="fw-bold">Total Price (incl. 18% tax)</span>
        <span class="fw-bold text-success">
          ₹ <%= totalPrice.toFixed(2) %>
        </span>
      </div>

      <button class="btn btn-success mb-3 w-100" id="payBtn">Pay now</button>

    </div>

  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById("payBtn").onclick = async function (e) {
      e.preventDefault();

  const res = await fetch("/booking/<%= id %>/create-order", {
    method: "POST"
  });

  const order = await res.json();

  const options = {
    key: "<%= razorpayKey %>",
    amount: order.amount,
    currency: "INR",
    name: "MakeMyTrip Clone",
    description: "Booking Payment",
    order_id: order.id,

    handler: async function (response) {
      await fetch("/booking/<%= id %>/verify", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(response)
      });

      window.location.href = "/booking/<%= id %>/success";
    }
  };

  const rzp = new Razorpay(options);
  rzp.open();
};
</script>